html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

#deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    perspective: 1000px;
}

#deck .card {
    height: 125px;
    width: 125px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 8px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

#deck .card.open {
    transform: rotateY(180);
    background: #02b3e4;
    cursor: default;
}

#deck .card.show {
    font-size: 33px;
}

#deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

#deck .card .front i {
    margin: 45px;
}

#deck .card .front, #deck .card .back {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    backface-visibility: hidden;
    position: absolute;
}

#deck .card .front {
    /* background: #02b3e4; */
    color: #ffffff;
    cursor: default;
    font-size: 33px;
    
}

#deck .card .back{
    background: #2e3d49;
    font-size: 0;
    transform: rotateY(180deg)
}

#deck .card.flip {
    transform: rotateY(180deg)
}

.non-match {
    background-color: red !important;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel #timing {
    float: right;
    margin-right: 10px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/*
 * Styles for the end display message
 */

 .end-msg {
     margin-top: 30%;
     font-size: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .end-msg i {
    font-size: 50px;
    color: green;
 }

 .end-btn {
     padding: 20px 15px;
     margin: 10px auto;
     background-color: green;
     color: white;
     border-radius: 8px;
 }